{% extends 'watch/base.html' %}
{% block filter_panel %}
<!-- Sidebar ================================================== -->
<div id="sidebar" class="span3">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6 col-sm-3">
				<div id="accordion" class="panel panel-primary behclick-panel">
					<div class="panel-heading">
						<h3 class="panel-title">Search Filter</h3>
					</div>
					<div class="panel-body" >
						<div class="panel-heading " >
							<h4 class="panel-title">
								<a data-toggle="collapse" href="#collapse0">
									<i class="indicator fa fa-caret-down" aria-hidden="true"></i> Price
								</a>
							</h4>
						</div>
						<div id="collapse0" class="panel-collapse collapse in" >

							<ul class="list-group">
								<li class="list-group-item">
									<div class="checkbox">
										<label>
											<input type="checkbox" value="">
											0 - 1000$
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="checkbox" >
										<label>
											<input type="checkbox" value="">
											1000$ - 2000$
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="checkbox"  >
										<label>
											<input type="checkbox" value="">
											2000$ - 6000$
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="checkbox"  >
										<label>
											<input type="checkbox" value="">
											More Than 6000$
										</label>
									</div>
								</li>
							</ul>
						</div>

						<div class="panel-heading " >
							<h4 class="panel-title">
								<a data-toggle="collapse" href="#collapse1">
									<i class="indicator fa fa-caret-down" aria-hidden="true"></i> Brand
								</a>
							</h4>
						</div>

						<!-- Brand List-->
						<div id="collapse1" class="panel-collapse collapse in" >
							<ul class="list-group">
								{% for brand in brand_list %}
								<li class="list-group-item">
									<div class="checkbox">
										<label>
											<input type="checkbox" value="{{ brand.name">
											{{ brand.name }}
										</label>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
						<div class="panel-heading" >
						<!-- End Brand List-->


							<h4 class="panel-title">
								<a data-toggle="collapse" href="#collapse3"><i class="indicator fa fa-caret-down" aria-hidden="true"></i> Color</a>
							</h4>
						</div>
						<div id="collapse3" class="panel-collapse collapse in">
							<ul class="list-group">
								<li class="list-group-item">
									<div class="checkbox">
										<label>
											<input type="checkbox" value="">
											red
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="checkbox" >
										<label>
											<input type="checkbox" value="">
											blue
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="checkbox"  >
										<label>
											<input type="checkbox" value="">
											green
										</label>
									</div>
								</li>
							</ul>
						</div>
						<div class="panel-heading" >
							<h4 class="panel-title">
								<a data-toggle="collapse" href="#collapse2"><i class="indicator fa fa-caret-right" aria-hidden="true"></i> Collapsible list group</a>
							</h4>
						</div>
						<div id="collapse2" class="panel-collapse collapse">
							<ul class="list-group">
								<li class="list-group-item">
									<div class="checkbox">
										<label>
											<input type="checkbox" value="">
											7
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="checkbox" >
										<label>
											<input type="checkbox" value="">
											8
										</label>
									</div>
								</li>
								<li class="list-group-item">
									<div class="checkbox">
										<label>
											<input type="checkbox" value="">
											9
										</label>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
            </div>
		</div>
	</div>

		<!--<ul id="sideMenu" class="nav nav-tabs nav-stacked">-->
			<!--<li class=""><a>ADVANCED SEARCH</a>-->
				<!--<ul>-->
				<!--<li><a class="active" href="#"><i class="icon-chevron-right"></i>Cameras (100) </a></li>-->
				<!--<li><a href="#"><i class="icon-chevron-right"></i>Computers, Tablets & laptop (30)</a></li>-->
				<!--<li><a href="#"><i class="icon-chevron-right"></i>Mobile Phone (80)</a></li>-->
				<!--<li style="text-align:center"><input id="price_range" type="range" multiple value="10,80" /></li>-->
				<!--</ul>-->
			<!--</li>-->
		<!--<ul id="sideMenu" class="nav nav-tabs nav-stacked">-->
			<!--<li class="subMenu"><a>CATEGORIES</a>-->
			<!--<ul style="display:none">-->
				<!--<li><a href="/watch/?q=自動機械錶"><i class="icon-chevron-right"></i>自動機械錶</a></li>-->
				<!--<li><a href="/watch/?q=飛行員手錶"><i class="icon-chevron-right"></i>飛行員手錶</a></li>-->
				<!--<li><a href="/watch/?q=金錶"><i class="icon-chevron-right"></i>金錶</a></li>-->
				<!--<li><a href="/watch/?q=軍錶"><i class="icon-chevron-right"></i>軍錶</a></li>-->
				<!--<li><a href="/watch/?q=機械錶"><i class="icon-chevron-right"></i>機械錶</a></li>-->
				<!--<li><a href="/watch/?q=懷舊錶"><i class="icon-chevron-right"></i>懷舊錶</a></li>-->
				<!--<li><a href="/watch/?q=潛水錶"><i class="icon-chevron-right"></i>潛水錶</a></li>-->
				<!--<li><a href="/watch/?q=復古手錶"><i class="icon-chevron-right"></i>復古手錶</a></li>-->
				<!--<li><a href="/watch/?q=天文台錶"><i class="icon-chevron-right"></i>天文台錶</a></li>-->

			<!--</ul>-->
			<!--</li>-->
			<!--<li class="subMenu"><a>BRANDS</a>-->
				<!--<ul style="display:none">-->
				<!--{% for brand in brand_list %}-->
				<!--<li><a href="/watch/?q={{ brand.name }}"><i class="icon-chevron-right"></i>{{ brand.name }}</a></li>-->
				<!--{% endfor %}-->
			<!--</ul>-->
		<!--</ul>-->

	</div>
{% endblock %}