{% extends 'watch/base.html' %}
{% block title %}All watches | 18Watch.com{% endblock %}

{% block carousel %}
<div class="fh5co-slider">
	<div class="owl-carousel owl-carousel-fullwidth">
		<div class="item" style="background-image:url(media/images/slide_1.jpg)">
			<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="fh5co-owl-text-wrap">
							<div class="fh5co-owl-text text-center to-animate">
								<h1 class="fh5co-lead">18 Watch</h1>
								<h2 class="fh5co-sub-lead">Walk the Talk, <br> Watch the Watch</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% for item in carousel_list %}
		<div class="item" style="background-image:url(media/{{ item.bg }}); width:100%">
			<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="fh5co-owl-text-wrap">
							<div class="fh5co-owl-text text-center to-animate">
								<h1 class="fh5co-lead">{{ item.name }}</h1>
								<h2 class="fh5co-sub-lead">Booster is a free responsive HTML5 template using bootstrap released under Creative Commons 3.0. Lovely crafted by <a href="#">FREEHTML5.co</a></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<table class="hidden-xs hidden-sm" style="width:100%">
	<tr>
		<td class="text-center" style="background-color:#9C8D8A; height:200px; width:25%"><img src="/media/icon/featured.png" style="height:100px; width:auto; color:white"></td>
		<td class="text-center" style="background-color:#F9F4EE; height:200px; width:25%"><img src="/media/icon/man.png" style="height:100px; width:auto"></td>
		<td class="text-center" style="background-color:#EDE7E7; height:200px; width:25%"><img src="/media/icon/female.png" style="height:100px; width:auto"></td>
		<td class="text-center" style="background-color:#E72E2C; height:200px; width:25%"><img src="/media/icon/man.png" style="height:100px; width:auto"></td>
	</tr>
</table>

<table class="hidden-md hidden-lg" style="width:100%;">
	<tr>
		<td class="" style="width:25%; padding:10px">
			<div class="circle-icon"><div class="circle-icon__inner"><div class="circle-icon__wrapper"><div class="circle-icon__content">hihihi</div></div></div></div>
		</td>
		<td class="text-center" style="width:25%; padding:10px">
			<div style="position:releative; border-radius:50%; width:100%; height:auto; padding-top:100%; background:#e1e1e1;"></div>
		</td>
		<td class="text-center" style="width:25%; padding:10px">
			<div style="position:releative; border-radius:50%; width:100%; height:auto; padding-top:100%; background:#e1e1e1;"></div>
		</td>
		<td class="text-center" style="width:25%; padding:10px">
			<div style="position:releative; border-radius:50%; width:100%; height:auto; padding-top:100%; background:#e1e1e1;"></div>
		</td>
	</tr>
</table>

<div class="container" style="padding-top:40px">


    <div class="span12">
        <div id="tab" class="btn-group" data-toggle="buttons-radio">
          <a href="#new_release" class="btn btn-large btn-info active" data-toggle="tab">New Release</a>
          <a href="#most_popular" class="btn btn-large btn-info"  data-toggle="tab">Most Popular</a>
        </div>


        <div class="tab-content">
            <div class="tab-pane active" id="new_release">
				<div class="container">
					<div class="row" style="padding-top:25px">
						{% for watch in feature_list %}
						<div class="col-xs-6 col-sm-3">
							<div class="card">
								<a class="img-card various" data-fancybox-type="iframe" href="/watch/{{ watch.id }}">
									<img src="media/{{ watch.pic }}"/>
								</a>
								<br />
								<div class="card-content">
									<h4 class="card-title">
										<a href="http://www.fostrap.com/">
											{{ watch.name }}
										</a>
									</h4>
									<div class="">
										{{ watch.pub_date }}
										New Delhi, 2005, Petrol
									</div>
								</div>
								<div class="card-read-more">
									<a class="btn btn-link btn-block" href="http://www.fostrap.com/">
										VIEW DETAIL
									</a>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>

				</div>

            </div>

            <div class="tab-pane" id="most_popular">
                 <div class="container">
					<div class="row" style="padding-top:25px">
						{% for watch in latest_list %}
						<div class="col-xs-6 col-sm-3">
							<div class="card">
								<a class="img-card various" data-fancybox-type="iframe" href="/watch/{{ watch.id }}">
									<img src="media/{{ watch.pic }}"/>
								</a>
								<br />
								<div class="card-content">
									<h4 class="card-title">
										<a href="http://www.fostrap.com/">
											{{ watch.name }}
										</a>
									</h4>
									<div class="">
										New Delhi, 2005, Petrol
									</div>
								</div>
								<div class="card-read-more">
									<a class="btn btn-link btn-block" href="http://www.fostrap.com/">
										VIEW DETAIL
									</a>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>

				</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block body %}


	<div class="fh5co-bg-section" style="background-image: url(media/images/slide_2.jpg); background-attachment: fixed;">
		<div class="fh5co-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="fh5co-hero-wrap">
						<div class="fh5co-hero-intro text-center">
							<h2 class="fh5co-lead">OUR BRANDS</h2>
							<ul class="brand_list">{% for brand in brand_list %}
								<li><img style="width:50px; height:50px" src="/media/{{ brand.logo }}" >{% endfor %}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}








